<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="en,fr">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A reasonable price for a perfect website. We are specialist in making beautiful websites and professional graphic design.">

    <meta name="og:title" property="og:title" content="A reasonable price for a perfect website. We are specialist in making beautiful websites and professional graphic design.">
    <meta name="robots" content="index, follow">
    <script>
        window.addEventListener("load", function() {
            document.getElementsByClassName('container')[0].style.display = 'block';
            document.getElementsByClassName('lds-dual-ring')[0].style.display = 'none';
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="shortcut icon" href="images/logo.ico" />
    <link rel="apple-touch-icon" href="images/logo.ico" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700|Merriweather:400,400i,700|Material+Icons&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="js/texts.js"></script>
    <script src="js/mw.js"></script>
    <script src="js/controllers.js"></script>
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="scss/mw.css">
    <title>Title</title>
    <base href="/mw_angjs/">
</head>

<body ng-app="mwApp" ng-controller="mwCtrl">
    <style>
        .lds-dual-ring {
            display: inline-block;
            width: 128px;
            height: 128px;
            margin: 10% auto 0;
            display: block;
        }
        
        .lds-dual-ring:after {
            content: " ";
            display: block;
            width: 92px;
            height: 92px;
            margin: 1px;
            border-radius: 50%;
            border: 7px solid #f7941e;
            border-color: #f7941e transparent #25aae1 transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }
        
        @keyframes lds-dual-ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <div class="lds-dual-ring"></div>
    <div class="container" style="display: none">
        <section class="header container">
            <a href="#"><img src="images/logo.png">MontrealWEB</a>
            <i class="material-icons" ng-click="openMenu()">menu</i>
        </section>
        <div class="menu" ng-class="{'open': MenuIsOpen === true}">
            <div class="container">
                <ul>
                    <li><i class="material-icons" ng-click="openMenu()">close</i></li>
                    <li><a ng-click="scrollTo('home-section');openMenu();" href="">{{text.menu.home}}</a></li>
                    <li><a ng-click="scrollTo('what_we_do_section');openMenu();" href="">{{text.menu.what_we_do}}</a></li>
                    <li><a ng-click="scrollTo('portfolio_section');openMenu()" href="">{{text.menu.portfolio}}</a></li>
                    <li><a ng-click="scrollTo('about-section');openMenu()" href="">{{text.menu.about_us}}</a></li>
                    <li><a ng-click="scrollTo('contact-section');openMenu()" href="">{{text.menu.contact_us}}</a></li>
                    <li>
                        <a href="" ng-click="changeLang();openMenu()"><img ng-src="images/{{text.menu.lang}}_flag.png">{{text.menu.lang}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-view></div>
        <footer class="pt-3 pb-3">
            <ul>
                <li><a href="" ng-click="scrollTo('what_we_do_section')">{{text.menu.what_we_do}}</a></li>
                <li><a href="" ng-click="scrollTo('portfolio_section')">{{text.menu.portfolio}}</a></li>
                <li><a href="" ng-click="scrollTo('about-section')">{{text.menu.about_us}}</a></li>
                <li><a href="" ng-click="scrollTo('contact-section')">{{text.menu.contact_us}}</a></li>
                <li>
                    <a href="" ng-click="changeLang()"><img ng-src="images/{{text.menu.lang}}_flag.png">&nbsp;{{text.menu.lang}}</a>
                </li>
            </ul>
            <div class="mb-2 mt-2">
                <a href="https://www.instagram.com/farzadek/" target="_blank" class="pl-3 pr-3 mb-3 mt-3"><span class="icon-instagram"></span></a>
                <a href="https://www.linkedin.com/in/farzadkamali" target="_blank" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </div>
            <p>Copyright &copy; 2015 -
                <script>
                    document.write(new Date().getFullYear());
                </script> All rights reserved</p>
        </footer>
    </div>

    <div class="modal fade" id="prevModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div id="jsModalBody" class="modal-body">
                    <img ng-src="{{imageToView}}">
                </div>
            </div>
        </div>
    </div>


</body>

</html>