<section class="section-portfolio-graphic" ng-controller="mwGraphicCtrl">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4" id="columnForW">
            <span ng-repeat="item in itemToView[0] track by $index">
                <img ng-src="{{item}}" data-toggle="modal" data-target="#prevGrahicModal" ng-click="showItem(item)" class="mb-4">
                <div class="spinner-grow text-dark" role="status"></div>
            </span>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4" id="columnForW">
            <span ng-repeat="item in itemToView[1] track by $index"> 
                    <img ng-src="{{item}}" data-toggle="modal" data-target="#prevGrahicModal" ng-click="showItem(item)" class="mb-4">
                    <div class="spinner-grow text-dark" role="status"></div>
            </span>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4" id="columnForW">
            <span ng-repeat="item in itemToView[2] track by $index"> 
                    <img ng-src="{{item}}" data-toggle="modal" data-target="#prevGrahicModal" ng-click="showItem(item)" class="mb-4">
                    <div class="spinner-grow text-dark" role="status"></div>
            </span>
        </div>
    </div>
    <button ng-show="showedItem < previewFullFolioCount" ng-click="showMorePorfolio()" class="btn view-more-btn"><span class="icon-add_to_queue"></span> {{text.portfolio.more}}</button>

    <div class="modal fade" id="prevGrahicModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <img ng-src="{{imageToView}}">
                </div>
            </div>
        </div>
    </div>
</section>