<div class="section-7" id="contact-section">
    <h1>{{text.sec7.contact_us}}</h1>
    <form novalidate>
        <div>
            <label>{{text.sec7.name}}</label>
            <input type="text" ng-model="contactForm.name">
            <p ng-show="theForm[0].empty">{{text.sec7.err_name_empty}}</p>
            <p ng-show="theForm[0].pattern">{{text.sec7.err_name_pattern}}</p>
        </div>
        <div>
            <label>E-Mail</label>
            <input type="text" ng-model="contactForm.email">
            <p ng-show="theForm[2].empty">{{text.sec7.err_phone_email_empty}}</p>
            <p ng-show="theForm[2].pattern">{{text.sec7.err_email_pattern}}</p>
        </div>
        <div>
            <label>{{text.sec7.phone}}</label>
            <input type="text" ng-model="contactForm.phone">
            <p ng-show="theForm[1].empty">{{text.sec7.err_phone_email_empty}}</p>
            <p ng-show="theForm[1].pattern">{{text.sec7.err_phone_pattern}}</p>
        </div>
        <div>
            <label>Message</label>
            <textarea ng-model="contactForm.message"></textarea>
            <p ng-show="theForm[3].empty">{{text.sec7.err_msg_empty}}</p>
        </div>
        <input type="submit" class="btn view-more-btn" value="{{text.sec7.send_message}}" ng-click="formSubmitted()">
        <p ng-show="showEmailSent_success" class="success-email-sent">{{text.sec7.email_sent}}</p>
        <p ng-show="showEmailSent_fail" class="failed-email-sent">{{text.sec7.email_not_sent}}</p>
    </form>
</div>