<div class="section-3" id="portfolio-section">
    <div class="part1">
        <h1>{{text.sec3.some_of_our_works}}</h1>
        <p>{{text.sec3.some_of_our_works_text}}</p>
    </div>
    <hr/>
    <section>
        <div class="part2">
            <h1>{{text.sec3.portfolio}}</h1>
            <div class="porifilio-web row">
                <span class="icon-arrow-circle-left" ng-click="nextPreview('web')"></span>

                <div id="web-container" class="all-item-container">
                    <h2>WEB</h2>
                    <div class="items-container" id="web" style="transition: all 1s">
                        <div class="item" ng-repeat="web in previewWebFolio">
                            <img ng-src="images/portfolio/web/{{web.url}}">
                            <h3>{{web.title}}</h3>
                            <span ng-repeat="tag in web.tags">{{tag.tag}}</span>
                            <i class="material-icons" data-toggle="modal" data-target="#prevModal" ng-click="showItem('web',web)">zoom_in</i>
                        </div>
                    </div>
                </div>
                <span class="icon-arrow-circle-right" ng-click="prevPreview('web')"></span>
            </div>
        </div>
        <a ng-href="#!portfolio-web" ng-click="loadAllPortfolio('web')" class="btn view-more-btn">{{text.sec3.see_all_portfolio}}</a>
    </section>
    <hr/>
    <section>
        <div class="part3">
            <div class="porifilio-web row">
                <span class="icon-arrow-circle-left" ng-click="nextPreview('graphic')"></span>

                <div class="all-item-container">
                    <h2>{{text.sec3.graphic_design}}</h2>
                    <div class="items-container" id="graphic" style="transition: all 1s">
                        <div class="item" ng-repeat="item in previewGraphicFolio">
                            <img ng-src="images/portfolio/graphic/{{item.url}}">
                            <i class="material-icons" data-toggle="modal" data-target="#prevModal" ng-click="showItem('graphic',item)">zoom_in</i>
                        </div>
                    </div>
                </div>
                <span class="icon-arrow-circle-right" ng-click="prevPreview('graphic')"></span>
            </div>
        </div>
        <a ng-href="#!portfolio" ng-click="loadAllPortfolio('graphic')" class="btn view-more-btn">{{text.sec3.see_all_portfolio}}</a>

    </section>
    <hr/>
    <section>
        <div class="part4">
            <div class="porifilio-web row">
                <span class="icon-arrow-circle-left" ng-click="nextPreview('ui')"></span>

                <div class="all-item-container">
                    <h2>{{text.sec3.web_design_ui}}</h2>
                    <div class="items-container" id="ui" style="transition: all 1s">
                        <div class="item" ng-repeat="item in previewUiFolio">
                            <img ng-src="images/portfolio/ui/{{item.url}}">
                            <i class="material-icons" data-toggle="modal" data-target="#prevModal" ng-click="showItem('ui',item)">zoom_in</i>
                        </div>
                    </div>
                </div>
                <span class="icon-arrow-circle-right" ng-click="prevPreview('ui')"></span>
            </div>
        </div>
        <a ng-href="#!ui" ng-click="loadAllPortfolio('ui')" class="btn view-more-btn">{{text.sec3.see_all_portfolio}}</a>
    </section>
    <hr/>
    <section>
        <div class="part5">
            <div class="porifilio-web row">
                <span class="icon-arrow-circle-left" ng-click="nextPreview('email')"></span>

                <div class="all-item-container">
                    <h2>{{text.sec3.email_marketing}}</h2>
                    <div class="items-container" id="emailMarketing" style="transition: all 1s">
                        <div class="item" ng-repeat="item in previewEmailFolio">
                            <img ng-src="images/portfolio/email/{{item.url}}">
                            <i class="material-icons" data-toggle="modal" data-target="#prevModal" ng-click="showItem('email',item)">zoom_in</i>
                        </div>
                    </div>
                </div>
                <span class="icon-arrow-circle-right" ng-click="prevPreview('email')"></span>
            </div>
        </div>
        <a ng-href="#!portfolio" ng-click="loadAllPortfolio('email')" class="btn view-more-btn">{{text.sec3.see_all_portfolio}}</a>
    </section>
</div>